/**************Карточка клиента*****************/
/*****Aside panel******/
.user-panel-card .user-panel__name h2{
    margin-left: 42px;
}
.user-panel-card .user-panel__name h2 a {
    color: inherit
}
.user-panel-card .user-panel__function {
    margin: auto;
}

.section__main-card {
    display: grid;
    /* grid-template-columns: 320px auto; */
    column-gap: 30px;
}

aside.aside__patient-info ul {
    list-style: none;
}
.patient-info__menu ul {
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: 9px;
}
.patient-info__menu > ul > li{
    padding: 16px 27px 22px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.patient-info__menu li.addOn {
    padding: 0;
    height: 34px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    list-style-type: none;
    
    border-radius: 8px;
}
.patient-info__menu li.addOn a {
    font-size: 13px;
    font-weight: 500;
    color: #000000;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.patient-info__menu li.addOn.active a {
    font-weight: bold;
}
.nav__main-info {
    font-size: 14px;
    font-weight: 400;
    display: grid;
    row-gap: 10px;
}
/****END Aside panel******/

.treatment-info {
    padding: 0 0 34px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.treatment-info__title {
    margin: 25px 0;
    text-align: center;
}
.treatment-info__title h2 {
    font-weight: 600;
    font-size: 21px;
}
.treatment-info__title p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}
.planned-button {
    display: flex;
    justify-content: end;
    margin-top: 34px;
}
.research-result {
    display: none;
}
.research-result__button {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.research-result__button button {
    width: 193px;
}
.treatment-files {
    margin-top: 23px;
    padding-left: 23px;
    
}
.treatment-files a {
    display: flex;
    align-items: center;
    color: inherit;
}
.treatment-files a .ico {
    margin: 0;
}



/********Tabs*********/
.nav-tabs-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 0;
}
.nav-tabs-main button {
    width: 100%;
}
.nav-tabs {
    border: 0;
}
.nav-link {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover, 
.nav-tabs .nav-link:active {
    border: none;
    outline: 0;
}
.nav-tabs-main .nav-link {
    background-color: #F1F3F5;
    height: 54px;    
    font-size: 17px;
    font-weight: 500;
    color: #000;
}
.nav-tabs-main .nav-link.active {
    background-color: #228BE6;
    color: #fff;
}


.nav-tabs-secondary {
    margin: 27px 0;
    justify-content: space-around;
}
.nav-tabs-secondary li{ 
    width: 255px;
}
.nav-tabs-secondary .nav-link {
    width: 100%;
    background-color: rgba(52, 151, 236, 30%);
    height: 42px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    border-radius: 7px;
}
.nav-tabs-secondary .nav-link.active {
    background-color: rgba(52, 151, 236, 89%);
    color: #fff;
    font-weight: 600;
}
.tab-pane-treatment div {    
    padding: 40px 50px 40px 105px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
}
.tab-pane-treatment ol li {
    margin-bottom: 12px;
}

/*for stats*/
.nav-tabs-stats {
    justify-content: center;
    margin-bottom: 30px;
}
.nav-tabs-stats .nav-item .nav-link{
    width: 275px;
    height: 50px;
    background-color: #EAEAEA;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 500;
    color: #000000;
}
.nav-tabs-stats .nav-item .nav-link.active {
    background-color: #228BE6;
    color: white;
}
.nav-tabs-stats .nav-item:not(:last-child) {
    margin-right: 20px;
}
.nav-tabs-stats .nav-item  .nav-link-big {
    width: 350px;
}
/********END Tabs*********/

/*********Accordion*********/
.accordion {
    display: grid;
}
.accordion-shadow {
    row-gap: 35px;
}
.accordion-item {
    border: 0;
}
.accordion-shadow .accordion-item {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.51);

}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: none;
}
.accordion-shadow .accordion-button {
    display: block;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 16px;
    font-weight: 500;
}
.accordion-button:hover, 
.accordion-button:focus, 
.accordion-button:active {
    border: none;
    outline: none;
    box-shadow: none;
} 

.accordion-shadow .accordion-button:after, .accordion-stats .accordion-button:after {
    position: absolute;
    right: 25px;
    top: 23px;
    background-image: url("../img/chevron-down.svg");
    width: 17px;
    height: 10px;
    background-size: auto;
    margin-left: 0;

}
.accordion-shadow .accordion-button:not(.collapsed)::after, .accordion-stats .accordion-button:not(.collapsed)::after  {
    background-image: url("../img/chevron-down.svg");
}

/*simple accordion*/
.tab-pane .accordion-filter {
    margin-top: 6px;
}
.accordion-filter {
    background-color: rgba(52, 151, 236, 30%);
    border-radius: 7px;
    padding: 0 40px;

    margin-bottom: 11px;
}

.accordion-filter-panel, .accordion-table-panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 30px;
    height: 50px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.accordion-filter-panel i.ico {
    margin-left: 5px;
}
.accordion-simple {
    row-gap: 7px;
}
.accordion-simple > .accordion-item {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
    border-radius: 7px;
}
.accordion-simple > .accordion-item > .accordion-header {
    height: 50px;    
    padding: 0 40px;
}
.accordion-simple > .accordion-item  > .accordion-header button {
    padding: 0;
    display: block;
    width: 100%;
}
.accordion-body {
    padding: 40px;
}
.accordion-history .nav-tabs{    
    margin-top: 0;
}
.accordion-body-empty,
.accordion-simple .accordion-body-empty {
    font-size: 14px;
    font-weight: 500;
    /* padding: 40px; */
}
.accordion-filter__title {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 18px;
}
.clean-block {
    box-shadow: 0 3px 12px rgba(0,0,0,28%);
    border-radius: 7px;
    padding: 40px;
    /* min-height: 260px; */
    height: 260px;
    overflow: auto;
}
.clean-block-sml {
    /* min-height: 200px; */
    height: 200px;
}

.accordion-info .accordion-body {
    font-size: 16px;
    font-weight: 500;
}
.accordion-info .accordion-body ol li {
    margin-bottom: 17px;
}

.accordion-stats {
    row-gap: 17px;
}
.accordion-stats .accordion-item {
    background: inherit;
    border-radius: 0;
}
.accordion-stats h2.accordion-header {
    width: 70%;
    margin: 0 auto;
    min-width: 1015px;
    position: relative;
}
.accordion-stats .accordion-button::after{
    position: absolute;
    right: 10px;
    top: 50%
}
.accordion-stats button {
    padding: 0 25px;
    display: flex;
    height: 65px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 7px;
    font-size: 16px;
}
.accordion-stats .accordion-body {
    background-color: #fff;
    padding: 20px 40px;
}
.accordion-stats .accordion-body h2 {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 40px;
}


/*********END Accordion*********/

/**************FORM запланировать посещение*******************/
.visit-form {
    /* border: 1px solid #707070; */
    background-color: #fff;
    box-shadow: 0 7px 8px rgba(0,0,0,16%);
    padding: 35px 100px 19px 70px;
    width: 650px;
    margin: 0 auto;

}
.visit-form h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
}
.visit-form button {
    width: 160px;
}
.visit-form .small {
    margin-left: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
}
/**************END FORM запланировать посещение*******************/





/**************Sidebar Menu****************/
.user-panel__name {
    position: relative;
}
.sidebar-menu {
    width: 360px;
    left: -360px;
    right: 0;
    top: 78px;
    position: absolute;
    min-height: 100vh;
    height: calc(100% - 78px);
    bottom: -78px;
    transition: left 0.5s;
    z-index: 2;
}




.sidebar-menu.active {
    left: 0;
}
.sidebar-menu .sidebar-panel__header {
    justify-content: center;
    border-bottom: 0;
}
.sidebar-menu .sidebar-panel__header h2 {
    font-size: 20px;
    font-weight: 500;
}
.sidebar-menu .sidebar-panel__body {
    padding-top: 10px;
}

.toggle_button {
    position: absolute;
    top: 15px;
    z-index: 5;
    left: 0;
}
.ico_hamburger {
    width: 28px;
    height: 15px;
    position: relative;
    display: block;
    z-index: 5;
}
.ico_hamburger .line {
    display: block;
    background: #000;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    border-radius: 4px;
    transition: transform 0.5s;
}
.ico_hamburger .line.line_1 {
    top: 0;
}
.ico_hamburger .line.line_2 {
    top: calc(50% - 0.5px);
}
.ico_hamburger .line.line_3 {
    bottom: 0;
}
.ico_hamburger.active .line_1 {
    transform: translateY(14px) translateX(0) rotate(
45deg);
}
.ico_hamburger.active .line_2 {
    opacity: 0;
}
.ico_hamburger.active .line_3 {
    transform: translateY(-1px) translateX(0) rotate(
-45deg);
}

.sidebar-menu .patient-info__menu ul {
    row-gap: 13px;
}
.patient-info__menu .patient-pic {
    width: 100%;
    height: 206px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/patient.png");

}
.patient-pic.pic-brain {background-image: url("../img/pic-brain.jpg");} 
.patient-pic.pic-heart {background-image: url("../img/pic-heart.jpg");}
.patient-pic.pic-blood {background-image: url("../img/pic-1.jpg");} 
.patient-pic.pic-blood2 {background-image: url("../img/pic-2.jpg");} 
/* .patient-pic.pic-clear {}  */
.sidebar-menu .patient-info__menu li.addOn{
    height: 41px;
    box-shadow: 4px 6px 9px rgb(0 0 0 / 16%);
}
.sidebar-menu .patient-info__menu li.addOn.active a{
    font-weight: bold;
}
/**************END Sidebar Menu****************/



/*********Accordion for vaccination*********/
.accordion-subsection .accordion-item {
    background: none;
    border-radius: 0; 
    box-shadow: none; 
}
.accordion-subsection .accordion-header{
    background-color: #fff; 
    border-radius: 7px;
    box-shadow: 2px 2px 7px rgb(0 0 0 / 51%); 

}
.accordion-subsection {
    padding-left: 0;
    margin-bottom: 0;
}
.accordion-subsection .accordion-body {
    padding: 10px 0 0;
}
.accordion-subsection li {
    display: flex;
    height: 69px;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 37px;
    box-shadow: 0 7px 9px rgba(0,0,0,16%);
    cursor: pointer;
}
.accordion-subsection li:last-child {
    margin-bottom: 0;
}

.form-control.is-invalid, .was-validated .form-control:invalid, select.is-invalid {
    background-color: #fff5f5;
}